#admin {
  margin: 0 auto;
  header {
    background-color: lighten($adminhi, 10%);
  }

  main {
    padding: 0.5em;
    margin: 0;
    text-align: center;
    font: 0.7rem "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    p {
      margin: 0 0 0.5em;
      border: red 1px;
      border-width: 0 0 1px;
      line-height: 1.4;
      color: $dusk;
      &:last-child {
        border-width: 0;
      }
    }

    p.error  {
        color: white;
        background-color: black;
        text-transform: uppercase;
      }

    h3 {
      text-align: center;

      span {
        color: white;
      }
    }
  }
  h4 {
    font-size: 0.75rem;
    font-weight: normal;
    color: black;
    margin: 0.2em 0;
    text-align: center;
  }
  h5 {
    font-size: 0.85rem;
    margin: 0.2em 0;
    color: $admin;
    a {
      color: inherit;
    }
  }
}

#admin h3,
#register h3 {
  color: $admin;
  font-size: 1.75em;
  word-spacing: -1px;
  font-family: $actionfont;
  text-transform: uppercase;
  background-color: $adminbg;
  border-radius: 8px;
  text-indent: 11px;
  margin: 0.2em 0;
  a {
    color: $admin;
  }
}

#admin {
  form {
    border: solid 1px black;
    border-radius: 8px;
    padding: 8px;
    margin: 0.3em 0;
    > fieldset {
      border-width: 0;
      text-align: left;
      margin: 0 0 0.5em;
      background-color: $adminbg;
      padding: 8px;
      border-radius: 8px;
      align-items: center;
      label {
        text-align: center;
        color: $dusk;
        color: $admin;
        background-color: $pale;
        border-radius: 4px;
        padding: 0.3em;
        width: 100%;
        border: solid 1px gray;
      }
      select#path {
        border: 1px solid;
        background-color: $pale;
      }
    }

    &.edit {
      padding: 1em;
      border-radius: 8px;
      border: solid 1px black;
      text-align: center;
    }
    & > input {
      text-transform: lowercase;
      padding: 0.2em 0.6em;
      margin: 0 auto;
    }

    &.edit input[type="date"],
    &.preload input[type="date"] {
      padding: 0;
    }

    &.box label[for="date"] {
      display: none;
    }
  }
}

.adminlist {
  li,
  & ul {
    border-radius: 8px;
    padding: 0.25em;
    margin: 0.2em 0;
    background-color: $adminbg;
    white-space: nowrap;

    //overflow: hidden;
    &.all {
      background-color: $adminbg;
    }
    & > * {
      padding: 0.2em 0.3em 0.1em;
    }
    a {
      color: $admin;
      &.noajax {
        background-color: transparent;
      }
    }
    .submit > input:first-child {
      margin-right: 4px;
    }
    & + p {
      clear: left;
    }
    input[type="checkbox"] {
      align-self: center;
    }
    input[type="submit"] {
      text-transform: lowercase;
    }
    a.trash {
      @include trash(25px);
    }
    .thumb {
      width: 100px;
      display: block;
      border: solid 1px black;
      padding: 1px;
      background-color: white;
      border-radius: 4px;
      overflow: hidden;
      &:hover {
        filter: sepia(0.5);
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 4px;
      }
    }
  }
  .edit > input:last-of-type {
    background-color: hsl(75deg, 100%, 35%);
    color: white;
    font-size: 1em;
    border-radius: 8px;
    text-align: center;
  }

  .edit input,
  .edit textarea {
    border-radius: 8px;
    border: 1px solid silver;
    padding: 2px;
    font-family: "Courier New", Courier, monospace;
  }
  .edit label {
    text-align: center;
    color: white;
    font-size: 1em;
    border-radius: 8px;
  }

  .edit select {
    align-self: center;
    border: 1px solid silver;
    font-size: 1em;
  }

  form.edit > input:last-child:hover {
    background-color: rgb(88, 88, 88);
  }

  #preview {
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    border: solid 1px blue;
    width: 40%;
    img {
      border-radius: 7px;
      display: block;
    }
  }
  & ul {
    padding: 0;
    margin: 0;
  }
  &.asset a:link.trash {
    @include trash(25px);
    border-radius: 50%;
    z-index: 2;
  }
  &.unarchive a:link.trash {
    @include trash(25px, center 68%);
    border-radius: 50%;
  }
}

ul#gal_edit {
  border: solid 1px;
  padding: 0.4em 0.2em;
  border-radius: 8px;
  li {
    margin: 0 0.2em;
    display: inline-block;
    vertical-align: top;
    &.portrait {
      margin: 0 0.2em 0.2em;
    }
    & a {
      border: solid 1px royalblue;
      display: block;
      border-radius: 8px;
      padding: 1px;
      background-color: white;
      &:hover {
        border-color: crimson;
      }
      & img {
        border-radius: 7px;
      }
    }
  }
}

#preview + .remplacer {
  text-align: center;
}
#preview + .remplacer a {
  margin: 0 auto;
}

.remplacer {
  margin: 0.5em 0 0;
  @include flexy();
  justify-content: center;
  a {
    width: 2.25em;
    height: 2.25em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    border: solid 1px #666;
    border-radius: 50%;
    margin: 0 0.1em;
    background: no-repeat $admin url(../assets/live/edit_back.png) center/cover;
    &#upload_link {
      background: no-repeat $admin url(../assets/live/edit_upload.png)
        center/cover;
    }

    &#edit_link {
      background: no-repeat $admin url(../assets/live/edit_img_alt.png)
        center/cover;
    }
    &.add {
      background: no-repeat $admin url(../assets/live/add.png) center/contain;
    }
    &#upload_link:hover,
    &#edit_link:hover {
      background-color: blue;
      filter: saturate(2);
    }
    &:hover {
      background-color: $adminhi;
    }
  }
}

#admin {
  fieldset {
    input,
    textarea {
      border-radius: 8px;
      padding: 2px;
      border: solid 1px $dusk;
    }

    #tx {
      padding: 0.7em;
      font: 1em "Courier New", Courier, monospace;
    }

    .edit input[type="date"] {
      padding: 0;
    }

    .box #shuffle {
      border-radius: 8px;
      background-color: $admin;
      text-align: center;
      grid-row: 2/3;
      padding: 0 1em;
    }
  } //fieldset
  & {
    footer {
      margin: 0;
      position: relative;
      background-color: hsla(276, 50%, 30%, 0.66);
      background-blend-mode: multiply;
      background-image: url(../images/dev/footer.png),
        url(../images/dev/swirl.png);
      background-repeat: no-repeat, repeat;
      background-position: center top, center;
      background-size: cover, 5%;
      font-size: 8px;
      height: 15.1em;
      border-top: solid 1px white;
      height: auto;
      * {
        visibility: hidden !important;
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 668px) {
  form.edit > input:last-child:hover {
    background-color: black;
    color: white;
  }
}

@media only screen and (min-width: $mobilepx) {
  #admin h4,
  h3 {
    text-align: left;
  }

  #admin nav {
    filter: grayscale(50%);
  }
}

@media only screen and (min-width: 1000px) {
  .login > label:last-of-type {
    color: #86b300;
    position: relative;
    display: block;
    &:after {
      content: "password";
      color: white;
      display: block;
      position: absolute;
      bottom: 0.3em;
      left: 0.4em;
    }
  }
}

@media only screen and (max-width: 812px) {
  #admin {
    div.uploadpreview {
      &.pic form {
        @include flex(1, 0, 100%);
      }
    }
  }
}
