<div id="info">
    <p>The <strong>page</strong> dropdown menu can be used to assign the article to another page</p>
    <p>Use the <strong>position</strong> menu to change the position on the page, input the <strong><em>absolute</em></strong> number you want the article to appear at. For largely stylistic purposes some articles belong together, this is achieved by having a classname of "section" preceded by an id to uniquely identify a particular section group in the <strong>meta data</strong> field (see below) ie: "tvcoverage.section", moving these articles is possible but not advised.</p>
    <p>The <strong>meta data</strong> field can be used to set an id and/or class on the article, not strictly a content management task, as it infers a knowledge of the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model" target="_blank">DOM</a>, but - in consultation with your friendly web administrator - it can be used to apply some light styling.
        Three options:
      a single word ie: <tt>"id"</tt>: applies a unique id; a single word that starts with a period ie:<tt>".class"</tt>: applies a single classname; two words separated by a period ie:<tt>"id.class"</tt>: applies both.
      </p>
      <p>The date field is required for new articles, the summary field is for internal use only and cannot be edited. The content field is where the real work is done, a rudimentary aquaintance with the Markdown language can only be underestimated, the links below will prove helpful.</p>
    <p>
      <a
        href="https://www.markdownguide.org/getting-started/"
        target="_blank"
        title="link to information on how to use Markdown"
        >The Markdown Guide</a
      > by Matt Cone
    </p>
    <p>
      <a
        href="https://michelf.ca/projects/php-markdown/extra/"
        target="_blank"
        title="link to information on extended usage of Markdown"
        >php Markdown Extra</a
      > by Michel Fortin
    </p>
    <p><a href="https://commonmark.org/help/tutorial/" title="link to intractive lessons for learning Markdown" target="blank">Interactive Tutorial</a> at commonmark.org</p>
    <p>
      Finally, with <strong>javascript</strong> enabled you can utilise a control bar to aid inline
      formatting.
    </p>
  </div>